@using Drawer.Web.Authentication
@using Drawer.Web.Pages.InventoryStatus.Models
@using Pages.Location.Models

@attribute [Route(Paths.InventoryStatusHome)]

<ContentTitle Text="아이템 재고" />
<AuthorizeView Context="AuthorizeView" Policy="@Policies.CompanyMember">
    <NotAuthorized>
        <NeedCompany />
    </NotAuthorized>
    <Authorized>
        <AidToolBar>
            <AidButton Enabled="@(canRead)"
                       Color="Color.Secondary"
                       StartIcon="@Icons.Material.Filled.Refresh"
                       OnClick=@(() => Load_Click())>
                조회
            </AidButton>
            <AidButton Enabled="@(canCreate)"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Add"
                       OnClick=@(() => Receipt_Click())>
                입고
            </AidButton>
            <AidButton Enabled="@(canUpdate)"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Update"
                       OnClick=@(() => Issue_Click())>
                출고
            </AidButton>
            <AidButton Enabled="@(canDelete)"
                       Color="Color.Warning"
                       StartIcon="@Icons.Material.Filled.Delete"
                       OnClick=@(() => Transfer_Click())>
                이동
            </AidButton>
            <AidButton Enabled="@(canRead)"
                       Color="Color.Info"
                       StartIcon="@Icons.Material.Filled.Download"
                       OnClick=@(() => Download_ClickAsync())>
                엑셀 다운로드
            </AidButton>

            <MudSpacer />

            <AidSearchField @bind-Value="@searchText" />
        </AidToolBar>

        <AidTable Loading="@_isTableLoading"
                  T="@TreeNode"
                  UseRowSelection="@false"
                  Items="@_flatInventoryItems" 
                  Filter="@(new Func<TreeNode, bool>(Filter))" >
            <Header>
                <MudTHeadRow>
                    <MudTh Style="width:35%;">
                        <MudTableSortLabel T="TreeNode" SortBy="x => x.InventoryItem.ItemName">아이템</MudTableSortLabel>
                    </MudTh>
                    <MudTh Style="width:35%;">
                        <MudTableSortLabel T="TreeNode" SortBy="x => x.InventoryItem.Quantity">수량</MudTableSortLabel>
                    </MudTh>
                    <MudTh Style="width:30%;">위치</MudTh>
                </MudTHeadRow>
            </Header>

            <Row>
                @if (context.Visible)
                {
                    <MudTd>@context.InventoryItem.ItemName</MudTd>
                    <MudTd>
                        <div style="display:flex; flex-direction:row; align-items:center; margin-left:@(context.Level * 30)px;">
                            <MudIconButton Style="@(context.Style)" Icon="@(context.Icon)" OnClick="@(()=> Expand_Click(context))"></MudIconButton>
                            <MudText>@context.InventoryItem.Quantity.ToString()</MudText>
                        </div>
                    </MudTd>
                    <MudTd>@context.InventoryItem.LocationName</MudTd>
                }
            </Row>
            <Footer>
                <MudTFootRow>
                    <MudTd colSpan="100">총 @(TotalRowCount)개의 행</MudTd>
                </MudTFootRow>
            </Footer>
        </AidTable>
    </Authorized>
</AuthorizeView>

